<h1>About</h1>

<p><strong>About this website</strong></p>

<p> This is for Muriel Wu who is 2 years old and dreaming to have a toy store..</p>


<p> We love you, murile …</p>


<img alt="about" src="/assets/d6.png" align=right height=300 />

