<h1>Question</h1>

<h2>Returns & Exchanges</h2>
<p>We promise to be your trusted partner for technology by delivering the advice, service and convenience you deserve — all at competitive prices. If you are not fully satisfied with your purchase, let us help you with a replacement, return or repair.</p>

<img alt="question" src="/assets/d2.png" align=right height=300 />
